.dicaprio{

     background-image: url(media/kyky1.JPG);
     width: 600px;
     height: 600px;
     animation-name:dicaprio;
       animation-duration:25s;
       animation-delay: 3s;
       animation-iteration-count:3;
    }

    @keyframes dicaprio {
            
      0%{
          background-image: url(media/kyky1.JPG);

       }
       16%{
        background-image: url(media/kyky2.JPG);

     }

      32%{
      background-image: url(media/kyky3.JPG);

    }

     48%{
    background-image: url(media/kyky4.JPG);

   }

    64%{
     background-image: url(media/kyky5.JPG);

  }
  80%{
    background-image: url(media/kyky6.JPG);

 }

 100%{
  background-image: url(media/kyky1.JPG);

}

}
